.post
 %h2
  %a{:href => "/"} log
  \:
  %b= $title
 #pre-entry!= $text
 .entry
  - foreach (@$list){
  - my $url = $_->{url};
  %h3
   %a{:href => "/#{$root}/#{$url}"}= $_->{title}
  %span{:class => "date"}= $_->{datetime}
  %p{:class => "erb"}= $_->{description}
  - };
%small
